body {
    background-color: aliceblue;
}
.container {
    width: 400px;
    margin: 20px auto;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 50px;
}

h1 {
    text-align: center;
}

input {
    margin-left: 40px;
}

ul li {
    list-style: none;
}

